{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Visma eAccounting API V1"
  },
  "host": "eaccountingapi.vismaonline.com/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/accountbalances/{date}": {
      "get": {
        "tags": [
          "AccountBalance"
        ],
        "summary": "Get Account balance on a specific date (yyyy-MM-dd). Filter to include accounts where balance is 0.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Solo</b></p>",
        "operationId": "AccountBalance_List",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Format: yyyy-MM-dd",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "includeZeroBalance",
            "in": "query",
            "description": "Default value: false",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountBalance"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/accountbalances/{accountNumber}/{date}": {
      "get": {
        "tags": [
          "AccountBalance"
        ],
        "summary": "Get Account Balance on a specific account and date.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Solo</b></p>",
        "operationId": "AccountBalance_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "date",
            "in": "path",
            "description": "Format: yyyy-MM-dd",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountBalance"
            }
          }
        },
        "deprecated": false
      }
    },
    "/accounts/{fiscalyearId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get a list of accounts",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "Accounts_ListByFiscalYear",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fiscalyearId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "changedFromDate",
            "in": "query",
            "description": "Only include changed accounts from date (yyyy-MM-dd) or date(yyyy-MM-dd hh:mm:ss)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Account"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/accounts/{fiscalyearId}/{accountNumber}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get a single account by account number",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "Accounts_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fiscalyearId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "accountNumber",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        },
        "deprecated": false
      }
    },
    "/articleaccountcodings": {
      "get": {
        "tags": [
          "ArticleAccountCodings"
        ],
        "summary": "Get a list of article account codings. Vat rates are on present UTC time. Specify date (yyyy-MM-dd) to get for specific date.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "ArticleAccountCodings_List",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "vatRateDate",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ArticleAccountCoding"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/articleaccountcodings/{articleAccountCodingId}": {
      "get": {
        "tags": [
          "ArticleAccountCodings"
        ],
        "summary": "Get a specific article account coding based on the Id. Vat rates are on present UTC time. Specify date (yyyy-MM-dd) to get for specific date.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "ArticleAccountCodings_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articleAccountCodingId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "vatRateDate",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArticleAccountCoding"
            }
          }
        },
        "deprecated": false
      }
    },
    "/articlelabels": {
      "get": {
        "tags": [
          "ArticleLabels"
        ],
        "summary": "Gets all articlelabels.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "ArticleLabels_List",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ArticleLabel"
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "ArticleLabels"
        ],
        "summary": "Create a articlelabel",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "ArticleLabels_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fromArticleLabel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArticleLabel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArticleLabel"
            }
          }
        },
        "deprecated": false
      }
    },
    "/articlelabels/{articleLabelId}": {
      "get": {
        "tags": [
          "ArticleLabels"
        ],
        "summary": "Gets an articlelabel by id.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "ArticleLabels_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articleLabelId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Article"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "ArticleLabels"
        ],
        "summary": "Update a articlelabel",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "ArticleLabels_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articleLabelId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "fromArticleLabel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArticleLabel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArticleLabel"
            }
          }
        },
        "deprecated": false
      }
    },
    "/articles": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Gets all active/inactive articles changed from the given date(yyyy-MM-dd) or date(yyyy-MM-dd hh:mm:ss).",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "Articles_List",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "changedFromDate",
            "in": "query",
            "description": "Only include changed customers from date (yyyy-MM-dd) or date(yyyy-MM-dd hh:mm:ss)",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeInactive",
            "in": "query",
            "description": "Include inactive articles",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "articleNumber",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "showPricesWithTwoDecimals",
            "in": "query",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Article"
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Create an article",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "Articles_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "article",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Article"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Article created",
            "schema": {
              "$ref": "#/definitions/Article"
            }
          },
          "400": {
            "description": "Bad request. See response body for message."
          },
          "401": {
            "description": "Unauthorized. Access denied."
          },
          "403": {
            "description": "Forbidden. The company is not active, or the startup guide is not completed."
          },
          "409": {
            "description": "Conflict. Article already exists"
          }
        },
        "deprecated": false
      }
    },
    "/articles/{articleId}": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Gets an article by id.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "Articles_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "showPricesWithTwoDecimals",
            "in": "query",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Article"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Articles"
        ],
        "summary": "Update an article",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "Articles_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "article",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Article"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Article"
            }
          }
        },
        "deprecated": false
      }
    },
    "/attachmentlinks": {
      "post": {
        "tags": [
          "AttachmentLinks"
        ],
        "summary": "Create a new attachmentlink.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:purchase</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "AttachmentLinks_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "attachmentLinks",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AttachmentLink"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AttachmentLink"
            }
          }
        },
        "deprecated": false
      }
    },
    "/attachments/{attachmentId}": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "summary": "Get a specific attachment.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase, ea:purchase_readonly, ea:accounting, ea:accounting_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "Attachments_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Attachment"
            }
          }
        },
        "deprecated": false
      }
    },
    "/attachments": {
      "post": {
        "tags": [
          "Attachments"
        ],
        "summary": "Create a new attachment.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase, ea:accounting</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "Attachments_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "postedAttachment",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Attachment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AttachmentResult"
            }
          }
        },
        "deprecated": false
      }
    },
    "/bankaccounts": {
      "get": {
        "tags": [
          "BankAccounts"
        ],
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Solo</b></p>",
        "operationId": "BankAccounts_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BankAccount"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/companies": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get the company information.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly, ea:accounting, ea:accounting_readonly, ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing, Solo</b></p>",
        "operationId": "Companies_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Company"
            }
          }
        },
        "deprecated": false
      }
    },
    "/costcenteritems/{itemId}": {
      "get": {
        "tags": [
          "CostCenterItems"
        ],
        "summary": "Get a specific Cost center item.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly, ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing</b></p>",
        "operationId": "CostCenterItems_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CostCenterItem"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "CostCenterItems"
        ],
        "summary": "Put costcenter items.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing</b></p>",
        "operationId": "CostCenterItems_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "item",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CostCenterItem"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CostCenterItem"
            }
          }
        },
        "deprecated": false
      }
    },
    "/costcenteritems": {
      "post": {
        "tags": [
          "CostCenterItems"
        ],
        "summary": "Create a new Cost Center Item.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing</b></p>",
        "operationId": "CostCenterItems_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "item",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CostCenterItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CostCenterItem"
            }
          }
        },
        "deprecated": false
      }
    },
    "/costcenters": {
      "get": {
        "tags": [
          "CostCenters"
        ],
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly, ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing</b></p>",
        "operationId": "CostCenters_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CostCenter"
            }
          }
        },
        "deprecated": false
      }
    },
    "/currencies": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Get a list of Currencies",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly, ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "Currencies_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Currency"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/customerinvoicedrafts": {
      "get": {
        "tags": [
          "CustomerInvoiceDrafts"
        ],
        "summary": "Get all customer invoice drafts.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoiceDrafts_List",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerInvoiceDraft"
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "CustomerInvoiceDrafts"
        ],
        "summary": "Create a customer invoice draft.",
        "description": "IsVatFree attribute on a CustomerInvoiceDraftRow shall only be used for articels with reverse VAT charge. For other VAT free articles IsVatFree shall be set to 'false'.<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoiceDrafts_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerInvoiceDraft",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerInvoiceDraft"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomerInvoiceDraft"
            }
          }
        },
        "deprecated": false
      }
    },
    "/customerinvoicedrafts/{invoiceDraftId}": {
      "get": {
        "tags": [
          "CustomerInvoiceDrafts"
        ],
        "summary": "Get customer invoice draft by id.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoiceDrafts_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "invoiceDraftId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomerInvoiceDraft"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "CustomerInvoiceDrafts"
        ],
        "summary": "Update a customer invoice draft.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoiceDrafts_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "invoiceDraftId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "customerInvoiceDraft",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerInvoiceDraft"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomerInvoiceDraft"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "CustomerInvoiceDrafts"
        ],
        "summary": "Delete a customer invoice draft.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoiceDrafts_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "invoiceDraftId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/customerinvoicelistitems": {
      "get": {
        "tags": [
          "CustomerInvoiceListItems"
        ],
        "summary": "List all customer invoices",
        "description": "Get a list of all customer invoices, represented by a light-weight object without all the details of a full customer invoice.\r\nFilter by including or excluding already paid invoices.<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoiceListItems_List",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "changedFromDate",
            "in": "query",
            "description": "Only include changed customer invoices from date (yyyy-MM-dd) or date(yyyy-MM-dd hh:mm:ss)",
            "required": false,
            "type": "string"
          },
          {
            "name": "includePaid",
            "in": "query",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "fromInvoiceNumber",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "createdFromDraftId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerInvoiceListItem"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/customerinvoicelistitems/{customerId}": {
      "get": {
        "tags": [
          "CustomerInvoiceListItems"
        ],
        "summary": "Get a list of all customer invoices on a specific customer. Filter by including or excluding already paid invoices.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoiceListItems_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "changedFromDate",
            "in": "query",
            "description": "Only include changed customer invoices from date (yyyy-MM-dd) or date(yyyy-MM-dd hh:mm:ss)",
            "required": false,
            "type": "string"
          },
          {
            "name": "includePaid",
            "in": "query",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "fromInvoiceNumber",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "createdFromDraftId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerInvoiceListItem"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/customerinvoices/{invoiceId}": {
      "get": {
        "tags": [
          "CustomerInvoices"
        ],
        "summary": "Gets a customer invoice with a specific id.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoices_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomerInvoice"
            }
          }
        },
        "deprecated": false
      }
    },
    "/customerinvoicespaidbycreditcard": {
      "post": {
        "tags": [
          "CustomerInvoicesPaidByCreditCard"
        ],
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoicesPaidByCreditCard_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "paidCustomerInvoiceDraft",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerInvoicePaidByCreditCard"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomerInvoice"
            }
          }
        },
        "deprecated": false
      }
    },
    "/customerledgeritems": {
      "get": {
        "tags": [
          "CustomerLedgerItems"
        ],
        "summary": "Get a list of customer ledger items.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerLedgerItems_List",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "changedFromDate",
            "in": "query",
            "description": "Only include changed customer invoices from date (yyyy-MM-dd) or date(yyyy-MM-dd hh:mm:ss)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerLedgerItem"
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "CustomerLedgerItems"
        ],
        "summary": "Create a customer ledger item.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerLedgerItems_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerLedgerItem",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerLedgerItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomerLedgerItem"
            }
          }
        },
        "deprecated": false
      }
    },
    "/customerledgeritems/{customerLedgerItemId}": {
      "get": {
        "tags": [
          "CustomerLedgerItems"
        ],
        "summary": "Get a customer ledger item by id.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerLedgerItems_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerLedgerItemId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomerLedgerItem"
            }
          }
        },
        "deprecated": false
      }
    },
    "/customerledgeritems/customerledgeritemswithvoucher": {
      "post": {
        "tags": [
          "CustomerLedgerItems"
        ],
        "summary": "Create a customer ledger item and a voucher included.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerLedgerItems_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerLedgerItem",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerLedgerItemWithVoucher"
            }
          },
          {
            "name": "useAutomaticVatCalculation",
            "in": "query",
            "description": "For voucher, default value: false. Set to true and specify the sales or purchase gross amount and vat rows will be added automatically.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "useDefaultVatCodes",
            "in": "query",
            "description": "For voucher, default value: True. Set to false and override default vatcodes on all rows in the request.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomerLedgerItemWithVoucher"
            }
          }
        },
        "deprecated": false
      }
    },
    "/customerlistitems": {
      "get": {
        "tags": [
          "CustomerListItems"
        ],
        "summary": "Get a list of all customers. Filter by using the filter parameters.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerListItems_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "changedFromDate",
            "in": "query",
            "description": "Only include changed customers from date (yyyy-MM-dd) or date (yyyy-MM-dd hh:mm:ss)",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeInactive",
            "in": "query",
            "description": "Include inactive customers",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "customerNumber",
            "in": "query",
            "description": "Get one customer with this customer number",
            "required": false,
            "type": "string"
          },
          {
            "name": "customerEmail",
            "in": "query",
            "description": "Get all customers with this e-mail",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerListItem"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/customers/{customerId}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a customer",
        "description": "Get a Customer item by customer id<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "Customers_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Customer"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a customer",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "Customers_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "customer",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Customer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Customer"
            }
          }
        },
        "deprecated": false
      }
    },
    "/customers": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a customer",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "Customers_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customer",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Customer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Customer"
            }
          }
        },
        "deprecated": false
      }
    },
    "/deliverymethods": {
      "get": {
        "tags": [
          "DeliveryMethods"
        ],
        "summary": "Get a list of delivery methods",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "DeliveryMethods_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeliveryMethod"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/deliveryterms": {
      "get": {
        "tags": [
          "DeliveryTerms"
        ],
        "summary": "Get a list of delivery terms",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "DeliveryTerms_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeliveryTerm"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/fiscalyears": {
      "get": {
        "tags": [
          "FiscalYears"
        ],
        "summary": "Get a list of fiscal years",
        "description": "Get a list of FiscalYear items.<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly, ea:accounting, ea:accounting_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "FiscalYears_List",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FiscalYear"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/fiscalyears/{id}": {
      "get": {
        "tags": [
          "FiscalYears"
        ],
        "summary": "Get a fiscal year",
        "description": "Get a FiscalYear item by Id.<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly, ea:accounting, ea:accounting_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "FiscalYears_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the FiscalYear item",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FiscalYear"
            }
          }
        },
        "deprecated": false
      }
    },
    "/foreignpaymentcodes": {
      "get": {
        "tags": [
          "ForeignPaymentCodes"
        ],
        "summary": "Gets the foreign payment codes.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard</b></p>",
        "operationId": "ForeignPaymentCodes_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ForeignPaymentCode"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/orderlistitems": {
      "get": {
        "tags": [
          "OrderListItems"
        ],
        "summary": "Gets a list of order list items. Exclude shipped orders by setting includeShipped to false.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Requires any of the following modules: <br><b>order_standard</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "OrderListItems_List",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "includeShipped",
            "in": "query",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrderListItem"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/orderlistitems/{customerId}": {
      "get": {
        "tags": [
          "OrderListItems"
        ],
        "summary": "Gets a list of order list items for a specific customer.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Requires any of the following modules: <br><b>order_standard</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "OrderListItems_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrderListItem"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/orders/{orderId}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Requires any of the following modules: <br><b>order_standard</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "Orders_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Orders"
        ],
        "summary": "Update an order.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Requires any of the following modules: <br><b>order_standard</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "Orders_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "order",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        },
        "deprecated": false
      }
    },
    "/orders": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create order.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Requires any of the following modules: <br><b>order_standard</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "Orders_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "order",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        },
        "deprecated": false
      }
    },
    "/partnerresourcelinks/{partnerResourceLinkId}": {
      "get": {
        "tags": [
          "PartnerResourceLinks"
        ],
        "summary": "Get a partner resource link by id.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:purchase</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "PartnerResourceLinks_List",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "partnerResourceLinkId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PartnerResourceLink"
            }
          },
          "400": {
            "description": "Bad request. See response body for message."
          },
          "401": {
            "description": "Unauthorized. Access denied."
          },
          "403": {
            "description": "Forbidden. The company is not active, or the startup guide is not completed."
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "PartnerResourceLinks"
        ],
        "summary": "Update a partner resource link",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:purchase</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "PartnerResourceLinks_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "partnerResourceLinkId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "partnerResourceLink",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PartnerResourceLink"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Partner resource link updated.",
            "schema": {
              "$ref": "#/definitions/PartnerResourceLink"
            }
          },
          "400": {
            "description": "Bad request. See response body for message."
          },
          "401": {
            "description": "Unauthorized. Access denied."
          },
          "403": {
            "description": "Forbidden. The company is not active, or the startup guide is not completed."
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "PartnerResourceLinks"
        ],
        "summary": "Delete a partner resource link",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:purchase</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "PartnerResourceLinks_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "partnerResourceLinkId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Partner resource link deleted.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request. See response body for message."
          }
        },
        "deprecated": false
      }
    },
    "/partnerresourcelinks": {
      "get": {
        "tags": [
          "PartnerResourceLinks"
        ],
        "summary": "Get a list of partner resource links.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:purchase</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "PartnerResourceLinks_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PartnerResourceLink"
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access denied."
          },
          "403": {
            "description": "Forbidden. The company is not active, or the startup guide is not completed."
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "PartnerResourceLinks"
        ],
        "summary": "Create a partner resource link",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:purchase</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "PartnerResourceLinks_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "partnerResourceLink",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PartnerResourceLink"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Partner resource link created.",
            "schema": {
              "$ref": "#/definitions/PartnerResourceLink"
            }
          },
          "400": {
            "description": "Bad request. See response body for message."
          },
          "401": {
            "description": "Unauthorized. Access denied."
          },
          "403": {
            "description": "Forbidden. The company is not active, or the startup guide is not completed."
          }
        },
        "deprecated": false
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get a list of projects",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly, ea:sales, ea:sales_readonly, ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing</b></p>",
        "operationId": "Projects_List",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "includeFinished",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "changedFromDate",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Project"
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a new project.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing</b></p>",
        "operationId": "Projects_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        },
        "deprecated": false
      }
    },
    "/projects/{projectId}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get a specific project.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly, ea:sales, ea:sales_readonly, ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing</b></p>",
        "operationId": "Projects_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Project Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Projects"
        ],
        "summary": "Update a project",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing</b></p>",
        "operationId": "Projects_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "project",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        },
        "deprecated": false
      }
    },
    "/supplierinvoicedrafts/{supplierInvoiceDraftId}/allocationperiods": {
      "get": {
        "tags": [
          "SupplierInvoiceDraftAllocationPeriods"
        ],
        "summary": "Get all allocation periods for an existing supplier invoice draft.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard</b></p>",
        "operationId": "SupplierInvoiceDraftAllocationPeriods_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "supplierInvoiceDraftId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AllocationPeriod"
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "SupplierInvoiceDraftAllocationPeriods"
        ],
        "summary": "Update existing allocation periods in an existing supplier invoice draft.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase</b></p><p>Available in any of the following variants: <br><b>Pro, Standard</b></p>",
        "operationId": "SupplierInvoiceDraftAllocationPeriods_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "supplierInvoiceDraftId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "postedAllocationPlans",
            "in": "body",
            "description": "Array of allocation plans",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SupplierInvoiceDraftAllocationPlan"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AllocationPeriod"
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "SupplierInvoiceDraftAllocationPeriods"
        ],
        "summary": "Create allocation periods to an existing supplier invoice draft.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase</b></p><p>Available in any of the following variants: <br><b>Pro, Standard</b></p>",
        "operationId": "SupplierInvoiceDraftAllocationPeriods_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "supplierInvoiceDraftId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "postedAllocationPlans",
            "in": "body",
            "description": "Array of allocation plans",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SupplierInvoiceDraftAllocationPlan"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AllocationPeriod"
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "SupplierInvoiceDraftAllocationPeriods"
        ],
        "summary": "Delete all allocation periods for an existing supplier invoice draft.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase</b></p><p>Available in any of the following variants: <br><b>Pro, Standard</b></p>",
        "operationId": "SupplierInvoiceDraftAllocationPeriods_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "supplierInvoiceDraftId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Allocation periods deleted.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request. See response body for message."
          },
          "403": {
            "description": "Not found."
          }
        },
        "deprecated": false
      }
    },
    "/supplierinvoicedrafts": {
      "get": {
        "tags": [
          "SupplierInvoiceDrafts"
        ],
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Solo</b></p>",
        "operationId": "SupplierInvoiceDrafts_List",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SupplierInvoiceDraft"
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "SupplierInvoiceDrafts"
        ],
        "summary": "Create a supplier invoice draft.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Solo</b></p>",
        "operationId": "SupplierInvoiceDrafts_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "postedSupplierInvoiceDraft",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SupplierInvoiceDraft"
            }
          },
          {
            "name": "useDefaultVatCodes",
            "in": "query",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "calculateVatOnCostAccounts",
            "in": "query",
            "description": "Automatic calculation of VAT based on vat code. DK and NL only",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "batchProcessExtendedValidation",
            "in": "query",
            "description": "Validate for batch process and fiscal year.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "duplicateCheckExtendedValidation",
            "in": "query",
            "description": "Check if the invoice is duplicate.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SupplierInvoiceDraft"
            }
          }
        },
        "deprecated": false
      }
    },
    "/supplierinvoicedrafts/{supplierInvoiceDraftId}": {
      "get": {
        "tags": [
          "SupplierInvoiceDrafts"
        ],
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Solo</b></p>",
        "operationId": "SupplierInvoiceDrafts_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "supplierInvoiceDraftId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SupplierInvoiceDraft"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "SupplierInvoiceDrafts"
        ],
        "summary": "Update a supplier invoice draft.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Solo</b></p>",
        "operationId": "SupplierInvoiceDrafts_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "supplierInvoiceDraftId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "supplierInvoiceDraft",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SupplierInvoiceDraft"
            }
          },
          {
            "name": "useDefaultVatCodes",
            "in": "query",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "calculateVatOnCostAccounts",
            "in": "query",
            "description": "Automatic calculation of VAT based on vat code. DK and NL only",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SupplierInvoiceDraft"
            }
          }
        },
        "deprecated": false
      }
    },
    "/supplierinvoices": {
      "get": {
        "tags": [
          "SupplierInvoices"
        ],
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Solo</b></p>",
        "operationId": "SupplierInvoices_List",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "createdFromDraftId",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "changedFromDate",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SupplierInvoice"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/supplierinvoices/{supplierInvoiceId}": {
      "get": {
        "tags": [
          "SupplierInvoices"
        ],
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Solo</b></p>",
        "operationId": "SupplierInvoices_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "supplierInvoiceId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SupplierInvoice"
            }
          }
        },
        "deprecated": false
      }
    },
    "/supplierlistitems": {
      "get": {
        "tags": [
          "SupplierListItems"
        ],
        "summary": "Get a list of all suppliers. Filter by excluding inactive or changed from date (yyyy-MM-dd) or date(yyyy-MM-dd hh:mm:ss).",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Solo</b></p>",
        "operationId": "SupplierListItems_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "changedFromDate",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeInactive",
            "in": "query",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SupplierListItem"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/suppliers/{supplierId}": {
      "get": {
        "tags": [
          "Suppliers"
        ],
        "summary": "Get a specific supplier.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Solo</b></p>",
        "operationId": "Suppliers_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "supplierId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Supplier"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Suppliers"
        ],
        "summary": "Edit a specific supplier",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Solo</b></p>",
        "operationId": "Suppliers_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "supplierId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "supplier",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Supplier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Supplier"
            }
          }
        },
        "deprecated": false
      }
    },
    "/suppliers": {
      "post": {
        "tags": [
          "Suppliers"
        ],
        "summary": "Create a new supplier.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Solo</b></p>",
        "operationId": "Suppliers_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "supplier",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Supplier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Supplier"
            }
          }
        },
        "deprecated": false
      }
    },
    "/termsofpayment": {
      "get": {
        "tags": [
          "TermsOfPayment"
        ],
        "summary": "Get a list of TermsOfPayment items",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly, ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "TermsOfPayment_List",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TermsOfPayment"
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/termsofpayment/{id}": {
      "get": {
        "tags": [
          "TermsOfPayment"
        ],
        "summary": "Get a TermsOfPayment item by id",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly, ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "TermsOfPayment_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TermsOfPayment"
            }
          }
        },
        "deprecated": true
      }
    },
    "/units": {
      "get": {
        "tags": [
          "Units"
        ],
        "summary": "Get a list of Unit items",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "Units_List",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Unit"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/units/{id}": {
      "get": {
        "tags": [
          "Units"
        ],
        "summary": "Get a Unit item by id",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "Units_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Unit"
            }
          }
        },
        "deprecated": false
      }
    },
    "/vatcodes": {
      "get": {
        "tags": [
          "VatCode"
        ],
        "summary": "Gets a list of all Vat Codes",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing, Solo</b></p>",
        "operationId": "VatCode_List",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "vatRateDate",
            "in": "query",
            "description": "Default value: Today",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VatCode"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/vatcodes/{id}": {
      "get": {
        "tags": [
          "VatCode"
        ],
        "summary": "Get a Vatcode item by id",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing, Solo</b></p>",
        "operationId": "VatCode_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "vatRateDate",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VatCode"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/vouchers/{fiscalyearId}": {
      "get": {
        "tags": [
          "Vouchers"
        ],
        "summary": "Get all vouchers in fiscal year.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing, Solo, Pro, Standard, Bookkeeping, Invoicing, Solo</b></p>",
        "operationId": "Vouchers_ListByFiscalYear",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fiscalyearId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "changedFromDate",
            "in": "query",
[...]
