{
  "swagger": "2.0",
  "info": { "version": "v2", "title": "Visma eAccounting API V2" },
  "host": "eaccountingapi.vismaonline.com",
  "schemes": ["https"],
  "paths": {
    "/v2/accountbalances/{date}": {
      "get": {
        "tags": ["AccountBalanceV2"],
        "summary": "Get Account balance on a specific date (yyyy-MM-dd). Filter to include accounts where balance is 0.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Solo</b></p>",
        "operationId": "AccountBalanceV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Format: yyyy-MM-dd",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponse[AccountBalanceAPI]"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/accountbalances/{accountNumber}/{date}": {
      "get": {
        "tags": ["AccountBalanceV2"],
        "summary": "Get Account Balance on a specific account and date.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Solo</b></p>",
        "operationId": "AccountBalanceV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "date",
            "in": "path",
            "description": "Format: yyyy-MM-dd",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/AccountBalanceAPI" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/accounts": {
      "get": {
        "tags": ["AccountsV2"],
        "summary": "Get a list of accounts",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "AccountsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/PaginatedResponse[AccountApi]" }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["AccountsV2"],
        "summary": "Add a account",
        "description": "Add a account to a given fiscalyear. Use the required FiscalYearId property to specify the fiscal year.<p>Requires any of the following scopes: <br><b>ea:accounting</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "AccountsV2_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiAccount",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/AccountApi" }
          },
          {
            "name": "useDefaultAccountType",
            "in": "query",
            "description": "If true, eAccounting will provide the standard account type. \r\n            If false, you have to provide your own, can be found at /v2/accounttypes. \r\n            Account types can only be set on dutch companies.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/AccountApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/accounts/standardaccounts": {
      "get": {
        "tags": ["AccountsV2"],
        "summary": "Get a list of the predefined standard accounts.",
        "description": "Predefined standard accounts are for dutch companies only.<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "AccountsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponse[StandardAccountApi]"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/accounts/{fiscalyearId}": {
      "get": {
        "tags": ["AccountsV2"],
        "summary": "Get a list of accounts",
        "description": "Get a list of accounts for a given fiscalyear.<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "AccountsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fiscalyearId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/PaginatedResponse[AccountApi]" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/accounts/{fiscalyearId}/{accountNumber}": {
      "get": {
        "tags": ["AccountsV2"],
        "summary": "Get a account",
        "description": "Get a account from a given fiscalyear by specifying the account number.<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "AccountsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fiscalyearId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "accountNumber",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/AccountApi" }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["AccountsV2"],
        "summary": "Replace a account",
        "description": "Replace a account in a given fiscal year. Will only replace the account in that fiscal year.<p>Requires any of the following scopes: <br><b>ea:accounting</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "AccountsV2_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fiscalyearId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "accountNumber",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "replacedAccount",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/AccountApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/AccountApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/accountTypes": {
      "get": {
        "tags": ["AccountTypesV2"],
        "summary": "Gets the default account types. This is applicable on all countries but most relevant for the Netherlands.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "AccountTypesV2_GetDefaultAccountTypes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponse[AccountTypesAPI]"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/allocationperiods": {
      "get": {
        "tags": ["AllocationPeriodsV2"],
        "summary": "Get allocation periods.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping</b></p>",
        "operationId": "AllocationPeriodsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponse[AllocationPeriodApi]"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["AllocationPeriodsV2"],
        "summary": "Add allocation periods for voucher or supplier invoice.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping</b></p>",
        "operationId": "AllocationPeriodsV2_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "allocationPlans",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/AllocationPlan" }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/AllocationPeriodApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/allocationperiods/{allocationPeriodId}": {
      "get": {
        "tags": ["AllocationPeriodsV2"],
        "summary": "Get single allocation period.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping</b></p>",
        "operationId": "AllocationPeriodsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "allocationPeriodId",
            "in": "path",
            "description": "Id of the requsted allocation period.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/AllocationPeriodApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/approval/vatreport/{id}": {
      "put": {
        "tags": ["ApprovalV2"],
        "summary": "Replace the approval status of a vat report.",
        "description": "Make sure you have the correct approval settings in company settings and permissions on user level.<p>Requires any of the following scopes: <br><b>ea:accounting</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Solo</b></p>",
        "operationId": "ApprovalV2_ApproveVatReport",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "approvalModel",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/ApprovalApi" }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the vat report",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/VatReportApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/approval/supplierinvoice/{id}": {
      "put": {
        "tags": ["ApprovalV2"],
        "summary": "Replace the approval status of a invoice draft.",
        "description": "Make sure you have the correct approval settings in company settings and permissions on user level.<p>Requires any of the following scopes: <br><b>ea:purchase</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Solo</b></p>",
        "operationId": "ApprovalV2_ApproveInvoice",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "approvalModel",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/ApprovalApi" }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the invoice draft",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "format": "uuid", "type": "string" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/articleaccountcodings": {
      "get": {
        "tags": ["ArticleAccountCodingsV2"],
        "summary": "Get a list of article account codings",
        "description": "Vat rates are on present UTC time. Specify date (yyyy-MM-dd) to get for specific date.<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "ArticleAccountCodingsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "vatRateDate",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponse[ArticleAccountCodingAPI]"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/articleaccountcodings/{articleAccountCodingId}": {
      "get": {
        "tags": ["ArticleAccountCodingsV2"],
        "summary": "Get a single article account coding. Vat rates are on present UTC time. Specify date (yyyy-MM-dd) to get for specific date.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "ArticleAccountCodingsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articleAccountCodingId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "vatRateDate",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ArticleAccountCodingAPI" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/articlelabels": {
      "get": {
        "tags": ["ArticleLabelsV2"],
        "summary": "Gets all article labels.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "ArticleLabelsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponse[ArticleLabelApi]"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["ArticleLabelsV2"],
        "summary": "Create an article label.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "ArticleLabelsV2_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fromArticleLabel",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/ArticleLabelApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ArticleLabelApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/articlelabels/{articleLabelId}": {
      "get": {
        "tags": ["ArticleLabelsV2"],
        "summary": "Gets an article label by id.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "ArticleLabelsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articleLabelId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ArticleLabelApi" }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["ArticleLabelsV2"],
        "summary": "Replace the content of an article label.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "ArticleLabelsV2_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articleLabelId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "fromArticleLabel",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/ArticleLabelApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ArticleLabelApi" }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": ["ArticleLabelsV2"],
        "summary": "Deletes an article label.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "ArticleLabelsV2_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articleLabelId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ArticleLabelApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/articles": {
      "get": {
        "tags": ["ArticlesV2"],
        "summary": "Gets articles.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "ArticlesV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "showPricesWithTwoDecimals",
            "in": "query",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/PaginatedResponse[ArticleApi]" }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["ArticlesV2"],
        "summary": "Create a single article.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "ArticlesV2_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "article",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/ArticleApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ArticleApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/articles/{articleId}": {
      "get": {
        "tags": ["ArticlesV2"],
        "summary": "Gets an article by id.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "ArticlesV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "showPricesWithTwoDecimals",
            "in": "query",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ArticleApi" }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["ArticlesV2"],
        "summary": "Replace the data in an article.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "ArticlesV2_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "article",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/ArticleApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ArticleApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/attachmentlinks": {
      "post": {
        "tags": ["AttachmentLinksV2"],
        "summary": "Create new links between an existing document and a set of attachments.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:purchase</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "AttachmentLinksV2_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "attachmentLinks",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/AttachmentLinkApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/AttachmentLinkApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/attachmentlinks/{attachmentId}": {
      "delete": {
        "tags": ["AttachmentLinksV2"],
        "summary": "Delete the link between an existing document and its attachment.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:purchase</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "AttachmentLinksV2_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        },
        "deprecated": false
      }
    },
    "/v2/attachments": {
      "get": {
        "tags": ["AttachmentsV2"],
        "summary": "Get a list of attachments",
        "description": "If you don't need to download the attachment we advise using the includeTemporaryUrl parameter set to false in order to increase performance.<p>Requires any of the following scopes: <br><b>ea:purchase, ea:purchase_readonly, ea:accounting, ea:accounting_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "AttachmentsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "includeMatched",
            "in": "query",
            "description": "Default value: true. When set to false the endpoint returns just the unmatched attachments.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "includeTemporaryUrl",
            "in": "query",
            "description": "Default value: true. When set to false the endpoint returns attachments but does not provide the TemporaryUrl.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponse[AttachmentResultApi]"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["AttachmentsV2"],
        "summary": "Create a attachment",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase, ea:accounting</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "AttachmentsV2_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "postedAttachment",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/AttachmentUploadApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/AttachmentResultApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/attachments/{attachmentId}": {
      "get": {
        "tags": ["AttachmentsV2"],
        "summary": "Get a attachment",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase, ea:purchase_readonly, ea:accounting, ea:accounting_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "AttachmentsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/AttachmentResultApi" }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": ["AttachmentsV2"],
        "summary": "Delete a attachment",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase, ea:accounting</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "AttachmentsV2_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        },
        "deprecated": false
      }
    },
    "/v2/bankaccounts": {
      "get": {
        "tags": ["BankAccountsV2"],
        "summary": "Get a list of bank accounts.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing, Solo</b></p>",
        "operationId": "BankAccountsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponse[BankAccountApi]"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["BankAccountsV2"],
        "summary": "Create a bank account.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing, Solo</b></p>",
        "operationId": "BankAccountsV2_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bankAccount",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/BankAccountApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/BankAccountApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/bankaccounts/{bankAccountId}": {
      "get": {
        "tags": ["BankAccountsV2"],
        "summary": "Get a specific bank account.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing, Solo</b></p>",
        "operationId": "BankAccountsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bankAccountId",
            "in": "path",
            "description": "Id of the requested bank account.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/BankAccountApi" }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["BankAccountsV2"],
        "summary": "Replace a bank account.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing, Solo</b></p>",
        "operationId": "BankAccountsV2_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bankAccountId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "bankAccountChanges",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/BankAccountApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/BankAccountApi" }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": ["BankAccountsV2"],
        "summary": "Delete a bank account.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing, Solo</b></p>",
        "operationId": "BankAccountsV2_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bankAccountId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        },
        "deprecated": false
      }
    },
    "/v2/banktransactions/{bankAccountId}/matched": {
      "get": {
        "tags": ["BankTransactionsV2"],
        "summary": "Get a list of matched bank transactions.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly, ea:sales, ea:sales_readonly, ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping</b></p>",
        "operationId": "BankTransactionsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bankAccountId",
            "in": "path",
            "description": "The company bank account to which the requested transactions correspond",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Default: First day of the current month.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Default: Last day of the current month.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponse[BankTransactionApi]"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/banktransactions/{bankAccountId}/unmatched": {
      "get": {
        "tags": ["BankTransactionsV2"],
        "summary": "Get a list of unmatched bank transactions.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly, ea:sales, ea:sales_readonly, ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping</b></p>",
        "operationId": "BankTransactionsV2_GetUnmatched",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bankAccountId",
            "in": "path",
            "description": "The company bank account to which the requested transactions correspond",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Default: First day of the current month.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Default: Last day of the current month.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponse[BankTransactionApi]"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/banktransactions/{bankAccountId}/{bankTransactionId}": {
      "get": {
        "tags": ["BankTransactionsV2"],
        "summary": "Get a specific bank transaction.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly, ea:sales, ea:sales_readonly, ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping</b></p>",
        "operationId": "BankTransactionsV2_GetMatchedById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bankAccountId",
            "in": "path",
            "description": "The company bank account of the request transaction",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "bankTransactionId",
            "in": "path",
            "description": "The requested transaction id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/BankTransactionApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/banks": {
      "get": {
        "tags": ["BankV2"],
        "summary": "Get available banks in eAccounting.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "BankV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/PaginatedResponse[BankApi]" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/companysettings": {
      "get": {
        "tags": ["CompanySettingsV2"],
        "summary": "Get company settings.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "CompanySettingsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CompanySettingsApi" }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["CompanySettingsV2"],
        "summary": "Replace company settings.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "CompanySettingsV2_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companySettings",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/CompanySettingsApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CompanySettingsApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/companysettings/accountinglocksettings": {
      "put": {
        "tags": ["CompanySettingsV2"],
        "summary": "Update accounting lock interval settings.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "CompanySettingsV2_UpdateAccountingLockSettings",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountingLockSettingsApi",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/AccountingLockSettingsApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CompanySettingsApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/companysettings/rotrut": {
      "put": {
        "tags": ["CompanySettingsV2"],
        "summary": "Update ROT/RUT settings.",
        "description": "Only for swedish companies and if the company uses rot reduced invoicing. Use PUT v2/companysettings to change that.<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "CompanySettingsV2_UpdateRotRutSettings",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "rotRutSettingsApi",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/CompanyRotRutSettingsApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CompanySettingsApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/costcenteritems/{itemId}": {
      "get": {
        "tags": ["CostCenterItemsV2"],
        "summary": "Get a specific cost center item.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly, ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing</b></p>",
        "operationId": "CostCenterItemsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CostCenterItemApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/costcenteritems": {
      "post": {
        "tags": ["CostCenterItemsV2"],
        "summary": "Create a single cost center item.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing</b></p>",
        "operationId": "CostCenterItemsV2_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "costCenterItem",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/CostCenterItemApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CostCenterItemApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/costcenteritems/{costCenterItemId}": {
      "put": {
        "tags": ["CostCenterItemsV2"],
        "summary": "Replace the data in a cost center item.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing</b></p>",
        "operationId": "CostCenterItemsV2_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "costCenterItemId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "costCenterItem",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/CostCenterItemApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CostCenterItemApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/costcenters": {
      "get": {
        "tags": ["CostCentersV2"],
        "summary": "Get a list of cost centers",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:accounting_readonly, ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing</b></p>",
        "operationId": "CostCentersV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponse[CostCenterApi]"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/costcenters/{id}": {
      "put": {
        "tags": ["CostCentersV2"],
        "summary": "Replace content in a cost center.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:accounting, ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing</b></p>",
        "operationId": "CostCentersV2_Get",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "costCenter",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/CostCenterApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CostCenterApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/countries": {
      "get": {
        "tags": ["CountriesV2"],
        "summary": "Get a list of all countries.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CountriesV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/PaginatedResponse[CountryApi]" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/countries/{countrycode}": {
      "get": {
        "tags": ["CountriesV2"],
        "summary": "Get a single country.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CountriesV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "countrycode",
            "in": "path",
            "description": "Two letter code of requested country.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CountryApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/currencies": {
      "get": {
        "tags": ["CurrenciesV2"],
        "summary": "Get a list of currencies",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly, ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "CurrenciesV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/PaginatedResponse[CurrencyApi]" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/customerinvoicedrafts": {
      "get": {
        "tags": ["CustomerInvoiceDraftsV2"],
        "summary": "Get all customer invoice drafts.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoiceDraftsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponse[CustomerInvoiceDraftApi]"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["CustomerInvoiceDraftsV2"],
        "summary": "Create a single customer invoice draft.",
        "description": "ReversedConstructionServicesVatFree attribute on a CustomerInvoiceDraftRow shall only be used for articels with reverse VAT charge.\r\nFor other VAT free articles ReversedConstructionServicesVatFree shall be set to 'false'.<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoiceDraftsV2_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerInvoiceDraft",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/CustomerInvoiceDraftApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CustomerInvoiceDraftApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/customerinvoicedrafts/{invoiceDraftId}": {
      "get": {
        "tags": ["CustomerInvoiceDraftsV2"],
        "summary": "Gets a customer invoice draft by id.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoiceDraftsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "invoiceDraftId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CustomerInvoiceDraftApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/customerinvoicedrafts/{customerInvoiceDraftId}": {
      "put": {
        "tags": ["CustomerInvoiceDraftsV2"],
        "summary": "Replace the data in a customer invoice draft.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoiceDraftsV2_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerInvoiceDraftId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "customerInvoiceDraft",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/CustomerInvoiceDraftApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CustomerInvoiceDraftApi" }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": ["CustomerInvoiceDraftsV2"],
        "summary": "Delete a customer invoice draft.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoiceDraftsV2_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerInvoiceDraftId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        },
        "deprecated": false
      }
    },
    "/v2/customerinvoicedrafts/{customerInvoiceDraftId}/convert": {
      "post": {
        "tags": ["CustomerInvoiceDraftsV2"],
        "summary": "Converts a CustomerInvoiceDraft to a CustomerInvoice.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoiceDraftsV2_ConvertToInvoice",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerInvoiceDraftId",
            "in": "path",
            "description": "The customer Invoice Draft Id.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "invoiceValidations",
            "in": "body",
            "description": "Optional set of properties to validate. Ignore the properties you do not wish to validate.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerInvoiceDraftValidationApi"
            }
          },
          {
            "name": "keepOriginalDraftDate",
            "in": "query",
            "description": "Optional, false by default.\r\nIf this parameter is set to true, or if the same parameter from company settings is set to true, then the draft's invoice date is used (past or future), or if date misses, the draft's creation date is used\r\nIf this parameter is omitted, and the same parameter from company settings is not set or is set to false, then the draft's invoice date is used if it's in future, or if that date misses or is in past, today date is used",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "overrideCompanyKeepOriginalDraftDate",
            "in": "query",
            "description": "Optional, false by default.\r\nIf this parameter is set to true, use keepOriginalDraftDate parameter value to decide whether to use draft's invoice date or not regardless of company settings value.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CustomerInvoiceApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/customerinvoices": {
      "get": {
        "tags": ["CustomerInvoicesV2"],
        "summary": "Get all customer invoices.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoicesV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "modifiedSinceUtc",
            "in": "query",
            "description": "Used to get the invoices which have been modified since a prompted date",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponse[CustomerInvoiceApi]"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["CustomerInvoicesV2"],
        "summary": "Create a single customer invoice.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoicesV2_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "invoiceApi",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/CustomerInvoiceApi" }
          },
          {
            "name": "rotReducedAutomaticDistribution",
            "in": "query",
            "description": "Used for the automatic distribution per person of the rot reduced invoicing amount.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CustomerInvoiceApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/customerinvoices/{invoiceId}": {
      "get": {
        "tags": ["CustomerInvoicesV2"],
        "summary": "Gets a customer invoice with a specific id.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoicesV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CustomerInvoiceApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/customerinvoices/{invoiceId}/pdf": {
      "get": {
        "tags": ["CustomerInvoicesV2"],
        "summary": "Gets a customer invoice in Portable Document Format (PDF).",
        "description": "As invoices are generated at request time, if not generated before, this endpoint sometimes has higher than average response time.<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoicesV2_GetPdfReplacement",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/InvoiceUrlApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/customerinvoices/{invoiceId}/payments": {
      "post": {
        "tags": ["CustomerInvoicesV2"],
        "summary": "Post a payment towards a bookkept customer invoice. Use factoring fee and account number in order to pay with factoring",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoicesV2_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerInvoicePayment",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/InvoicePaymentApi" }
          },
          {
            "name": "invoiceId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/InvoicePaymentApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/customerinvoices/{invoiceId}/email": {
      "post": {
        "tags": ["CustomerInvoicesV2"],
        "summary": "Send an invoice by email",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoicesV2_SendEmail",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "emailApi",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/EmailApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CustomerInvoiceApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/customerinvoices/{invoiceId}/paymentreminders": {
      "post": {
        "tags": ["CustomerInvoicesV2"],
        "summary": "Sends a payment reminder email to an overdue invoice",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerInvoicesV2_SendPaymentReminderEmail",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "emailApi",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/PaymentReminderEmailApi" }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        },
        "deprecated": false
      }
    },
    "/v2/customerlabels": {
      "get": {
        "tags": ["CustomerLabelsV2"],
        "summary": "Gets all customer labels.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "CustomerLabelsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponse[CustomerLabelApi]"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["CustomerLabelsV2"],
        "summary": "Create a customer label.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "CustomerLabelsV2_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fromCustomerLabel",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/CustomerLabelApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CustomerLabelApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/customerlabels/{customerLabelId}": {
      "get": {
        "tags": ["CustomerLabelsV2"],
        "summary": "Gets an customer label by id.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "CustomerLabelsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerLabelId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CustomerLabelApi" }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["CustomerLabelsV2"],
        "summary": "Replace content of a customer label.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "CustomerLabelsV2_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerLabelId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "fromCustomerLabel",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/CustomerLabelApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CustomerLabelApi" }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": ["CustomerLabelsV2"],
        "summary": "Deletes a customer label.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing</b></p>",
        "operationId": "CustomerLabelsV2_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerLabelId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CustomerLabelApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/customerledgeritems": {
      "get": {
        "tags": ["CustomerLedgerItemsV2"],
        "summary": "Get a list of customer ledger items.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerLedgerItemsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponse[CustomerLedgerItemApi]"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["CustomerLedgerItemsV2"],
        "summary": "Create a customer ledger item.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerLedgerItemsV2_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerLedgerItem",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/CustomerLedgerItemApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CustomerLedgerItemApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/customerledgeritems/{customerLedgerItemId}": {
      "get": {
        "tags": ["CustomerLedgerItemsV2"],
        "summary": "Get a customer ledger item by id.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerLedgerItemsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerLedgerItemId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CustomerLedgerItemApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/customerledgeritems/customerledgeritemswithvoucher": {
      "post": {
        "tags": ["CustomerLedgerItemsV2"],
        "summary": "Create a customer ledger item and a voucher included.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomerLedgerItemsV2_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerLedgerItem",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerLedgerItemWithVoucherApi"
            }
          },
          {
            "name": "useAutomaticVatCalculation",
            "in": "query",
            "description": "Default value: false. Set to true and specify the sales or purchase gross amount and vat rows will be added automatically.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "useDefaultVatCodes",
            "in": "query",
            "description": "Default value: True. Set to false and override default vatcodes on all rows in the request.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "useDefaultVoucherSeries",
            "in": "query",
            "description": "Default value: True. Set to false and override default voucher series (alphabetic character before number).",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomerLedgerItemWithVoucherApi"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/customers": {
      "get": {
        "tags": ["CustomersV2"],
        "summary": "Get all customers.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomersV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/PaginatedResponse[CustomerApi]" }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["CustomersV2"],
        "summary": "Creates a customer.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomersV2_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customer",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/CustomerApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CustomerApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/customers/{customerId}": {
      "get": {
        "tags": ["CustomersV2"],
        "summary": "Get a specific customer.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomersV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Id of the requested customer.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["CustomersV2"],
        "summary": "Replace the data in a customer.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomersV2_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "updatedCustomer",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/CustomerApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CustomerApi" }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": ["CustomersV2"],
        "summary": "Delete a customer.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomersV2_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        },
        "deprecated": false
      }
    },
    "/v2/customers/{customerId}/autoinvoicerecipients": {
      "get": {
        "tags": ["CustomersV2"],
        "summary": "Check this list if the provided customer can receive e-invoices. An empty list is retrieved if there are no suggestions found or if the required validations are not met.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "CustomersV2_GetAutoInvoiceRecipients",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Id of the customer.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponse[AutoInvoiceAddressApi]"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/deliverymethods": {
      "get": {
        "tags": ["DeliveryMethodsV2"],
        "summary": "Get delivery methods.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "DeliveryMethodsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponse[DeliveryMethodApi]"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/deliverymethods/{deliveryMethodId}": {
      "get": {
        "tags": ["DeliveryMethodsV2"],
        "summary": "Get a delivery method.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "DeliveryMethodsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "deliveryMethodId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/DeliveryMethodApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/deliveryterms": {
      "get": {
        "tags": ["DeliveryTermsV2"],
        "summary": "Get a list of delivery terms",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "DeliveryTermsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponse[DeliveryTermApi]"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/deliveryterms/{deliveryTermId}": {
      "get": {
        "tags": ["DeliveryTermsV2"],
        "summary": "Get single delivery term",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Solo</b></p>",
        "operationId": "DeliveryTermsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "deliveryTermId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/DeliveryTermApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/documents/{id}": {
      "get": {
        "tags": ["DocumentsV2"],
        "summary": "Get a vat report pdf by document id.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly, ea:purchase, ea:purchase_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Bookkeeping, Invoicing, Solo</b></p>",
        "operationId": "DocumentsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Document id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/DocumentApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/fiscalyears": {
      "get": {
        "tags": ["FiscalYearsV2"],
        "summary": "Get a list of fiscal years.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:sales_readonly, ea:accounting, ea:accounting_readonly</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "FiscalYearsV2_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponse[FiscalYearApi]"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["FiscalYearsV2"],
        "summary": "Create a fiscal year.",
        "description": "<p>Requires any of the following scopes: <br><b>ea:sales, ea:accounting</b></p><p>Available in any of the following variants: <br><b>Pro, Standard, Invoicing, Bookkeeping, Solo</b></p>",
        "operationId": "FiscalYearsV2_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fiscalYear",
            "in": "body",
            "description": "",
            "required": true,
            "schema": { "$ref": "#/definitions/FiscalYearApi" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FiscalYearApi" }
          }
        },
        "deprecated": false
      }
    },
    "/v2/fiscalyears/{id}": {
      "get": {
        "tags": ["FiscalYearsV2"],
        "summary": "Get a single fiscal year.",
[...]
